* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex; 
    display: flex;
    flex-direction: column;
    background-image:
    linear-gradient(
      to bottom, 
      #8134af, #dd2a7b, #f58529, #feda77
    );
    background-position: center;
    background-size: cover;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

h1 {
    color: white;
}

.btn {
    height: 40px;
    margin-top: 5px;
    background-color: #f79a4ec2;
    color: #2445cc;
    font-weight: bold;
    padding: 0 50px 0 50px;
}

#timer {
    font-size: 2em;
    color: white;
    font-weight: bolder;
    }
    
.textSpan {
    
}
    


.memory-game {
    width: 1280px;
    height: 640px;
    margin: auto;
    display: flex; 
    flex-wrap: wrap; 
    perspective: 1000px;
    display: flex;
    justify-content: center;
}

.memory-card {
    width: calc(16.65% - 10px);
    height: calc(25% - 10px);
    margin: 5px; 
    position: relative; 
    transform: scale(1); 
    transform-style: preserve-3d;
    transition: transform .5s;
    border-radius: 5px;
}

.memory-card:active {
    transform: scale(.97);
    transition: .2s; 
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute; 
    border-radius: 5px; 
    backface-visibility: hidden;
}

.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute; 
    border-radius: 5px;
    background-color: white;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}