* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex; 
    background: #f9aa64c5;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.btn {
    height: 50px;
    background-color: #123C69;
    color: #EEE2DC;
}

#timer {
    font-size: xx-large
    }
    
    
    


.memory-game {
    width: 1280px;
    height: 640px;
    margin: auto; 
    display: flex; 
    flex-wrap: wrap; 
    
    perspective: 1000px;
    display: flex;
    justify-content: center;
}

.memory-card {
    width: calc(16.65% - 10px);
    height: calc(25% - 10px);
    margin: 5px; 
    position: relative; 
    transform: scale(1); 
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: .2s; 
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute; 
    border-radius: 5px; 
    backface-visibility: hidden;
}

.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute; 
    border-radius: 5px;
    background-image: url("img/bryan-garces-N0JDgKOLLhU-unsplash.jpg");
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}